<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="left">
				
		<div fxFlex="18%">
			<mat-list role="list">
				<mat-list-item role="listitem">
				  	<h4 mat-line><b>Fecha</b></h4>
				    <p mat-line> 12-08-2018</p>
				</mat-list-item>
			</mat-list>
		</div>

		<div fxFlex="18%">
			<mat-list role="list">
				<mat-list-item role="listitem">
				  	<h4 mat-line><b>Actividad</b></h4>
				    <p mat-line>Semana de Ciencias</p>
				 </mat-list-item>
			</mat-list>
		</div>

		<div fxFlex="18%">
			<mat-list role="list">
				<mat-list-item role="listitem">
				  	<h4 mat-line><b>Categoría</b></h4>
				    <p mat-line> Tus Competencias en Ciencias</p>
				 </mat-list-item>
			</mat-list>
		</div>

		<div fxFlex="18%">
			<mat-list role="list">
				<mat-list-item role="listitem">
				  	<h4 mat-line><b>Tipo de Inscripción</b></h4>
				    <p mat-line> Con RUN</p>
				 </mat-list-item>
			</mat-list>
		</div>
	</div>

	<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="left">
				
		<div fxFlex="18%">
			<mat-list role="list">
				<mat-list-item role="listitem">
				  	<h4 mat-line><b>Espacio</b></h4>
				    <p mat-line>Espacio Cultural Entel</p>
				 </mat-list-item>
			</mat-list>
		</div>

		<div fxFlex="18%">
			<mat-list role="list">
				<mat-list-item role="listitem">
				  	<h4 mat-line><b>Público Objetivo</b></h4>
				    <p mat-line> Estudiantes y Docentes</p>
				 </mat-list-item>
			</mat-list>
		</div>

		<div fxFlex="18%">
			<mat-list role="list">
				<mat-list-item role="listitem">
			  	<h4 mat-line><b>Número de Participantes</b></h4>
			    <p mat-line> 50</p>
			 </mat-list-item>
			</mat-list>
		</div>
		<div fxFlex="18%">
			
		</div>

	</div>
	<mat-divider></mat-divider>
	<p class="mat-body-2"><b>Documentos Agregados</b></p>
	<div class="upload-file" >
			<mat-list>
			  <mat-list-item >
			    <mat-icon mat-list-icon>insert_drive_file</mat-icon>
			    <h4 mat-line>Documento.docx</h4>
			    <p mat-line>Tamaño: 1.4 mb</p>
			  </mat-list-item>
			</mat-list>
		</div>
		<div class="upload-file" >
			<mat-list>
			  <mat-list-item >
			    <mat-icon mat-list-icon>insert_drive_file</mat-icon>
			    <h4 mat-line>Documento.docx</h4>
			    <p mat-line>Tamaño: 1.4 mb</p>
			  </mat-list-item>
			</mat-list>
		</div>
	<mat-divider></mat-divider>
	<p class="mat-body-2"><b>Participantes</b></p>
	<app-participantes [displayButton]="false"></app-participantes>
