 <h2 mat-dialog-title>Datos del Participante</h2>
<mat-dialog-content>
	 <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center">
		<div fxFlex="50%">
			<mat-form-field class="full">
				<mat-label>Nombre</mat-label>
			  <input matInput maxlength="50">
			</mat-form-field>
		</div>
		<div fxFlex="50%">
			<mat-form-field class="full">
				<mat-label>Apellido</mat-label>
			  <input matInput maxlength="50">
			</mat-form-field>
		</div>
	</div>
	 <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center">
		<div fxFlex="50%">
			<mat-form-field class="full">
				<mat-label>RUN</mat-label>
			  <input matInput maxlength="50">
			</mat-form-field>
		</div>
		<div fxFlex="50%">
			<mat-form-field class="full">
			  <mat-select placeholder="Género">
			    <mat-option *ngFor="let data of filter" [value]="data">
			      {{data}}
			    </mat-option>
			  </mat-select>
			</mat-form-field>
		</div>
	</div>
	 <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center">
	 	
		<div fxFlex="35%" >
			<mat-form-field class="full">
			  <mat-label>RBD</mat-label>
			  <input matInput maxlength="50" [disabled]="checkedRBD">
			</mat-form-field>
		</div>
		<div fxFlex="10%">
	 		<mat-checkbox [(ngModel)]="checkedRBD" class="marginchk" color="primary">N/A</mat-checkbox>
	 	</div>
		<div fxFlex="50%">
			<mat-form-field class="full">
				<mat-label>Teléfono</mat-label>
			  <input matInput maxlength="50">
			</mat-form-field>
		</div>
	</div>
	 <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center">
		<div fxFlex="50%">
			<mat-form-field class="full">
				<mat-label>Email</mat-label>
			  <input matInput maxlength="50">
			</mat-form-field>
		</div>
		<div fxFlex="50%">
			<mat-form-field class="full">
			  <mat-select placeholder="Tipo de Participante">
			    <mat-option *ngFor="let data of filter" [value]="data">
			      {{data}}
			    </mat-option>
			  </mat-select>
			</mat-form-field>
		</div>
	</div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true">Cancelar</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button mat-raised-button color="primary">Guardar</button>
</mat-dialog-actions>